* {
  padding: 0;
  margin: 0;
}
span {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px 50px;
}
.very .back {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 20px;
  padding-top: 50px;
}
h2 {
  padding: 20px 20px;
  font-size: 40px;
}
.very {
  padding: 20px 0px;
}
.very p {
  padding: 10px 20px;
}
a {
  text-decoration: none;
  color: rgba(255, 134, 130, 1);
}
.input-code {
  padding: 0px 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input-code #code {
  padding: 5px 100px;
}
.very button {
  padding: 10px 200px;
  margin: 20px 20px;
  background-color: rgba(81, 93, 239, 1);
  color: #fff;
  border-radius: 4px;
  border: none;
}
.body-hero {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
  padding: 0px 100px;
}
