section{
    display: flex;
    flex-direction: column;

}


.box-1{
    background-color: aqua;
    width: 400px;
    padding: 20px;
    border: 5px solid  rgb(151, 253, 151);
}

.box-2{
    background-color: aquamarine;
    width: 400px;
    padding: 20px;
    border: 5px solid  rgb(148, 244, 148);
    box-sizing: border-box;
}