.navigasion {
  display: flex;
  padding: 10px 15px;
}
nav p {
  display: none;
}
.navigasion button {
  display: none;
}
.navigasion h3 {
  padding-left: 10px;
}
#hero {
  background-color: #f2f0f8;
}
.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pet {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.pet h1 {
  font-size: 40px;
  padding: 0 15px;
  text-align: center;
}
.pet p {
    padding: 0 50px;
    letter-spacing: 1px;
    text-align: center;
}
.pet button {
  padding: 10px 30px;
  background-color: #f8d57e;
  color: #2d2d2d;
  border: none;
  border-radius: 5px;
  margin: 40px;
}
.img-hero img {
  width: 300px;
  border-radius: 10px;
}
#video{
    background-color: #F2FAF8;
    margin: 50px 20px;
}
#video iframe{
    width: 310px;
    height: 220px;
    border-radius: 10px;
}
@media (min-width: 361px) {
    nav p{
        display: block;
    }
    .navigasion {
    display: flex;
    justify-content: space-around;
    padding: 10px 30px;
  }
  .navigasion button {
    padding: 0  50px;
    background-color: #3366ff;
    border: none;
    color: white;
    border-radius: 10px;
    display: block;
  }
  .sig-up {
    padding-left: 800px;
  }
  #hero{
    margin: 15px;
  }
  .container-hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
  }
  .pet{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
  }
  .pet h1{
    font-size: 70px;
    width: 400px;
  }
  .pet p{
    width: 400px;
    letter-spacing: 1px;
    text-align: left;
}
#video iframe{
    width: 600px;
    height: 350px;
}
#video{
    display: flex;
    justify-content: center;
}
}