* {
  padding: 0;
  margin: 0;
}
.navigasion {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}
nav p {
  display: none;
}
.navigasion button {
  display: none;
}
.navigasion h3 {
  padding-left: 10px;
}
#hero {
  background-color: #f2f0f8;
}
.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 50px;
}
.pet h1 {
  font-size: 55px;
  padding: 0 15px;
  text-align: center;
}
.pet p {
  padding: 0 50px;
  padding-top: 30px;
  letter-spacing: 1px;
  text-align: center;
}
.pet button {
  padding: 20px 50px;
  background-color: #f8d57e;
  color: #2d2d2d;
  border: none;
  border-radius: 5px;
  margin: 40px;
}
.img-hero img {
  width: 320px;
  height: 294px;
  border-radius: 10px;
  padding-bottom: 80px;
  padding-top: 10px;
}
#video {
  background-color: #f2faf8;
  display: flex;
  justify-content: center;
  padding: 54px 20px;
}
#video iframe {
  width: 350px;
  height: 220px;
  border-radius: 10px;
}
.pet-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 90px;
  padding-top: 80px;
}
.pet-food img {
  width: 70px;
}
.pet-food p {
  padding-left: 20px;
}
h4 {
  padding: 20px 0;
}
.toys {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 90px;
}
.toys img {
  width: 70px;
}
.toys p {
  padding-left: 20px;
}
.icon {
  text-align: center;
  letter-spacing: 10px;
  word-spacing: 10px;
  line-height: 50px;
  padding: 30px;
}
.medical {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 90px;
}
.medical img {
  width: 70px;
}
.medical p {
  padding-left: 20px;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 90px;
  padding-bottom: 80px;
}
.service img {
  width: 70px;
}
.service p {
  padding-left: 20px;
}
.container-tree {
  background-color: rgb(236, 231, 251);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
.quotus h5 {
  font-weight: bolder;
  font-size: 20px;
  padding-top: 20px;
}
.quotus {
  padding: 50px 50px;
}
.container-four {
  display: flex;
  flex-direction: column;
  padding: 50px 90px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fcfaf5;
}
.text-lets h2 {
  font-size: 45px;
  width: 200px;
}
.text-lets p {
  color: #2d2d2d;
  padding: 20px 0px;
}
.text-lets button {
  padding: 15px 45px;
  border-radius: 10px;
  border: none;
  background-color: #f8d57e;
  color: #2d2d2d;
  margin: 10px 0px;
}
.img-png img {
  padding: 35px 0px;
}
.petfod {
  display: flex;
  align-items: center;
  padding: 20px 10px;
}
.end p {
  padding-left: 10px;
}
.email p {
  padding: 1% 10px;
}
.email input {
  padding: 10px 90px;
  margin: 10px 10px;
}
.button button {
  padding: 10px 160px;
  background-color: #3366ff;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 5px 10px;
}
.shop {
  font-weight: 600;
  padding: 20px 5px;
}
.shop p {
  padding: 5px 10px;
}
.police {
  font-weight: 600;
  padding: 20px 5px;
}
.police p {
  padding: 5px 10px;
}
.logos {
  padding: 10px 0px;
}
.logos img {
  padding: 0px 10px;
}
.pes {
  display: none;
}
.sho {
  display: none;
}
@media (min-width: 391px) {
  nav p {
    display: block;
  }
  .navigasion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
  }
  .navigasion img {
    padding-left: 45px;
  }
  .navigasion button {
    padding: 15px 50px;
    background-color: #3366ff;
    border: none;
    color: white;
    border-radius: 10px;
    display: block;
  }
  .sig-up {
    padding-left: 850px;
  }
  /* #hero{
    margin: 15px;
  } */
  .container-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 70px 50px;
  }
  .pet {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding-bottom: 150px;
  }
  .pet h1 {
    font-size: 85px;
    width: 400px;
  }
  .pet p {
    width: 400px;
    letter-spacing: 1px;
    text-align: left;
    padding-top: 20px;
  }

  .img-hero img {
    width: 500px;
    height: 450px;
    border-radius: 20px;
  }
  #video iframe {
    width: 600px;
    height: 350px;
    padding: 50px 50px;
  }
  #video {
    display: flex;
    justify-content: center;
  }
  .icon {
    padding: 80px 70px;
    letter-spacing: 30px;
  }
  .hero-two {
    display: flex;
    flex-direction: row;
    padding: 50px 10px;
    text-align: center;
  }
  .pet-food {
    padding-top: 30px;
  }
  .container-tree {
    display: flex;
    flex-direction: row;
    padding: 50px 250px;
  }
  .img img {
    width: 350px;
  }
  .container-four {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .text-lets {
    text-align: left;
  }
  .text-lets h2 {
    font-size: 70px;
    font-weight: 900;
    width: 400px;
  }
  .text-lets p {
    width: 300px;
  }
  .img-png img {
    width: 400px;
  }
  .end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .polic {
    display: flex;
    flex-direction: row;
  }
}
