.visible {
  background-color: thistle;
  width: 200px;
  height: 200px;
  overflow: visible;
}
.hidden {
  background-color: lightblue;
  width: 200px;
  height: 150px;
  overflow: hidden;
}
.scroll {
  background-color: rgb(44, 74, 84);
  width: 200px;
  height: 100px;
  overflow: scroll;
}
.auto {
  background-color: rgb(18, 223, 28);
  width: 200px;
  height: 100px;
  overflow: auto;
}
.sumbuy {
  background-color: rgb(91, 27, 193);
  width: 200px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.sumbux {
  background-color: rgb(189, 219, 21);
  width: 200px;
  height: 50px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
