.container {
  background-color: aqua;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.asik {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container3 {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.colom3 {
  background-color: azure;
}
.colom4 {
  background-color: bisque;
}
@media (min-width: 361px) {
  .container3 {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
