* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(255, 237, 237, 1);
}
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.container-hero {
  background-color: white;
}
.headset img {
  width: 200px;
  background-color: rgba(247, 247, 247, 1);
  padding: 50px 50px;
  margin: 20px 20px;
}
.beast h1 {
  padding: 0 20px;
}
.beast h3 {
  padding: 10px 20px;
}
.button {
  display: flex;
  justify-content: center;
}
.button button {
  padding: 10px 5px;
  margin: 10px 5px;
  background-color: rgba(102, 102, 102, 1);
  color: white;
  border: none;
  border-radius: 5px;
}
.usb {
  display: block;
  padding: 5px 10px;
}
.beast p {
  padding: 10px 20px;
  line-height: 25px;
}
.button-two {
  display: flex;
  justify-content: center;
}
.button-two button {
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.add {
  background-color: black;
  color: white;
  border-radius: 5px;
}
.view {
  background-color: white;
  color: black;
  border: 2px solid black;
}
@media (min-width: 391px) {
  .container-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 20px;
  }
  .headset img {
    width: 250px;
    height: 200px;
  }
  .button {
    display: flex;
    justify-content: flex-start;
    padding: 0px 20px;
  }
  .button button {
    padding: 10px 20px;
  }
  .beast p {
    padding: 10px 25px;
    width: 400px;
    line-height: 30px;
  }
  .beast h1 {
    padding-top: 15px;
  }
  .button-two button {
    padding: 15px 53px;
  }
}
