.card {
  width: 350px;
  background-color: white;
  margin: 20px;
  padding: 30px;
  height: 200px;
}
.tabs {
  display: flex;
  gap: 30px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  overflow-x: auto;
  white-space: nowrap;
}
.lorem {
  background-color: #ffe4c4;
  overflow-y: auto;
  height: 150px;
}
