body {
  background: #3c43c7;
  background: linear-gradient(
    90deg,
    rgba(166, 20, 115, 1) 5%,
    rgba(5, 242, 242, 1) 95%
  );
}
.herotext {
  color: white;
  padding: 100px 50px;
}
.herotext h1 {
  font-size: 60px;
  width: 400px;
}
.herotext p {
  width: 400px;
}
.text {
  float: left;
  padding: 120px 50px;
}
button {
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  color: rgba(166, 20, 115, 1);
}
.image {
  float: right;
  padding: 50px;
}
.produc h1 {
  color: white;
  font-size: 60px;
  padding: 10px 85px;
}
.sepatu {
  display: flex;
  text-align: center;
  gap: 30px;
  margin-top: 5px;
  padding: 10px 35px;
}
