.box-one{
    width: 100%;
    height: 600px;
    background-color: red;
}
.box-two{
    width: 100%;
    height: 600px;
    background-color: aqua;
}
.container{
    display: flex;
    width: 900px;
    background-color: aquamarine;
}