body {
  font-family: "Cormorant Garamond", serif;
}
.head {
  text-align: center;
  background-color: rgba(249, 248, 243, 1);
  padding-top: 10px;
  padding-bottom: 30px;
}
h1 {
  font-size: xxx-large;
}

.cormorant2 {
  font-weight: lighter;
}
.italic {
  font-style: italic;
}
.reguler {
  font-weight: 400;
}
.ital {
  font-style: italic;
}
.medium {
  font-size: medium;
}
.itali {
  font-style: italic;
}
.semibold {
  font-weight: bolder;
}
.semiit {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.boldit {
  font-style: italic;
}
.quick {
  width: 300px;
  font-size: x-large;
}
.cormorant-small {
  width: 300px;
  font-size: small;
}
.abc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: 50%; */
  margin-left: 24%;
  margin-right: 24%;
  letter-spacing: 5px;
  font-size: xx-large;
  font-weight: 300;
  /* background-color: antiquewhite; */
}
.aabb {
  background-color: rgba(249, 248, 243, 1);
  font-weight: 400;
  font-size: xxx-large;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.cormorant-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cormorant-quck{
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}