
.header {
  background-color: rgb(44, 138, 44);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 1250px;
  z-index: 3;
  top: 0%;
}
.sidebar-kiri {
  background-color: rgb(243, 241, 241);
  margin-top: 60px;
  width: 200px;
  height: 800px;
}
.sticky {
  background-color: yellow;
  margin-top: 60px;
  width: 1100px;
  height: 40px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 70px;
  z-index: -1;
}
.element-one {
  display: flex;
  flex-direction: row;
  height: 200vh;
}
.parent {
  background-color: rgb(220, 220, 220);
  border: 2px solid black;
  margin-left: 20px;
  width: 350px;
  height: 250px;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.child {
  background-color: rgb(42, 178, 62);
  border-radius: 5px;
  position: relative;
  width: 90px;
  height: 50px;
  left: 100px;
  top: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.child p {
  position: absolute;
}
.isi-konten {
  padding-left: 20px;
}
.konten-utama {
  position: static;
  width: 1100px;
  height: 50px;
  background-color: rgb(250, 249, 249);
  display: flex;
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 1px;
  border: solid 1px rgb(224, 221, 221);
}
#foter {
  position: relative;
  width: 1255px;
  height: 30px;
  background-color: rgb(37, 29, 29);
  color: white;
  top: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back {
  position: fixed;
  left: 1150px;
}
button{
  background-color: rgb(224, 92, 31);
  color: white;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
